body{
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 140%;
    background-image: url("hb2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;

}



main{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(177, 195, 227);
    padding: 2rem;
    padding-bottom: 4rem;
    border-radius: 30px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;



}

h1{
    margin-bottom: 3rem;
    display: flex;
}


h3{
    color: rgb(79, 36, 120);
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}


p{
    padding: 1rem;
    padding-left: 2rem;
}


li{
    padding: auto;
    padding-left: 2rem;
}


